#target {
    border: 1px solid #BBB !important;
}

#target-main {
    background: white;
    clear: both;
    border: 1px solid #BBB !important;
    width: 400px;
    margin: 0 auto;
    text-align: left;
}

#target-stroke {
    background: white;
    clear: both;
    border: 1px solid #BBB !important;
    width: 400px;
    margin: 0 auto;
    text-align: left;
}

/* no use, just give example for using image a background grid */
.small {
    width: 74px;
    height: 74px;
    padding: 0px;
    margin: 0;
    background: url("https://www.84cn.com/bishun/images/bg_tian3.png") no-repeat;
    background-size: 72px 72px;
}

canvas {
    background: url("images/grid-mi.png") no-repeat;
    background-size: 400px 400px;
}
