

#target {
	border: 1px solid #BBB !important;
}

#target-stroke {
    background: white;
    clear: both;
    border: 1px solid #BBB !important;
    width: 400px;
    margin: 0 auto;
    text-align:left;
}
